@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Voltaire', sans-serif;;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0 2.5%;
}

.colForm {
    width: 50%;
    float: left;
}

h1 {
    text-transform: uppercase;
    font-size: 8em;
    text-shadow:  7px 4px 3px rgba(0,0,0,0.3);

    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.005em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-family: sans-serif;
    margin-bottom: 0.35em;
}

h2 + img {
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #8D412A;
    transition: all ease 1s;
}

p + p {
    margin-top: 1.5em;
}

.textCenter {
    text-align: center;
}

.indent {
    margin: 3em 0;
}

/* ===== main page ===== */

#home {
    background: linear-gradient(to right, #00FFD3 50%, #F7C74F 50%);
}

/* ----- nav ----- */

header {
    margin: 5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

nav {
    position: relative;
    width: 300px;
    height: 300px;
}

nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.3s;
    outline: none;
    font-size: 1.5em;
}

.menuButton {
    background: url(../images/bubble1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menuItem {
    background: url(../images/bubble2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navButtonLines,
.navButtonLines::before,
.navButtonLines::after {
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    transition: 0.3s;
}

.navButtonLines {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.navButtonLines::before {
    content: '';
}

.navButtonLines::after {
    content: '';
    transform: rotate(90deg);
}

.navButtonLines__active .navButtonLines::before {
    transform: rotate(45deg);
}

.navButtonLines__active .navButtonLines::after {
    transform: rotate(-45deg);
}

/* ---- nav end ----- */

.logo {
    max-width: 460px;
    margin-bottom: 2.5em;
}

.stringWrap {
    width: 100%;
    margin-top: -1em;
    margin-bottom: 10em;
    position: relative;
}

.string {
    width: 100%;
}

.textWrap {
    position: relative; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.inner {
    color: #8D412A;
    max-width: 15%;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.textWrap img {
    max-width: 100px;
}

.copyright {
    color: #8D412A;
    padding: 2em;
}

.main footer .inner:first-of-type, .about footer .inner:first-of-type {
    margin: 0;
}

.main footer .inner, .about footer .inner {
    margin: 0 2.75em;
}

/* ===== about ===== */

#aboutBg {
    background: linear-gradient(to right, #F7C74F 50%, #00FFD3 50%);
}

.about {
    position: relative;
}

.about header .logo {
    opacity: 0;
}

.beer {
    max-width: 1000px;
    position: absolute;
    top: -96px;
    left: -86px;
}

.about .blockText {
    margin-top: 15em;
    margin-bottom: 3em;
}

.blockTextItem {
    width: 49%;
    margin: 2em 0;
    display: inline-block;
}

.blockTextItem:nth-child(1) {
    display: block;
    padding-right: 3em;
}

.blockTextItem:nth-child(2) {
    padding-right: 3em;
}

.blockTextItem:nth-child(3) {
    padding-left: 3em;
}

/* ===== product ===== */

.product {
    background-color: #00FFD3;
    background-image: url(../images/hist-deo-bg.png);
    background-size: auto 83%;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

.product .blockText {
    margin-top: 3em;
    margin-bottom: 6em;
}

.productWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

.productItem {
    min-width: 25%;
    min-height: 340px;
    background-color: #F7C74F;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
    
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.productItem img {
    max-width: 72px;
}

/* ===== advertising ===== */

#advertising {
    background: linear-gradient(36deg, #F7C74F 50%, #00FFD3 50%);
    /* background-image: url(../images/add-bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

.indent h2 {
    position: relative;
    top: -2em;
}

.advertising h2 {
    color: #144667;
}

.addsImg {
    max-width: 680px;
}

.slider {
    position: relative;
    width: 680px;
    margin: 0 auto;
}

.arrowLeft, .arrowRight {
    position: absolute;
    width: 95px;
    top: 35%;
}

.arrowRight:hover, .arrowLeft:hover {
    cursor: pointer;
}

.arrowLeft {
    left: -80px;
}

.arrowRight {
    right: -70px;
}

/* ===== contact ===== */

.contact {
    background-color: #00FFD3;
    background-image: url(../images/contact-img.png);
    background-repeat: no-repeat;
    background-size: 470px auto;
    background-position: right bottom;
    overflow: hidden;
}

.borderTop {
    width: 100%;
    height: 50px;
    background-color: #F7C74F;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.stringContact {
    width: 100%;
    margin-top: 1em;
}

/* ----- form ----- */

form {
    width: 75%;
    margin: 3em 0;
}

form::after {
    content: '';
    width: 100%;
    display: block;
    clear: both;
}

input, textarea {
    display: block;
    width: 75%;
    height: 50px;
    margin: 24px 0;
    padding: 0 20px;
    color: #27245E;
    outline: none;
    border: none;
    font-size: 1.125em;
    background-color: #d0fef5;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}

input::placeholder, textarea::placeholder {
    color: #27245E;
}

textarea {
    min-height: 150px;
    resize: none;
}

input[type="submit"] {
    width: 105px;
    background-image: url(../images/input-bg.png);
    background-size: contain;
}

input[type="submit"]:hover {
    box-shadow: 0 0 15px #27245E;
    opacity: 0.85;
}

.contact + footer {
    background-color: #F7C74F;
    padding-top: 3em;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.5);
}